<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="60 seconds">

    <!--根日志级别-->
    <property name="rootLogLeave" value="INFO"/>

    <!--日志缓存地址-->
    <property name="LOG_DIR" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}"/>

    <!--彩色日志-->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <!--控制台输出-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %-20d{yyyy-MM-dd HH:mm:ss.SSS} %clr(${PID:- }){magenta} %clr(%-5level) [%thread] %clr(%-40.40logger{39}){cyan}%clr([%L]){magenta} -- %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 文件输出 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/rpc.log</file>
        <param name="append" value="true"/>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 日志文件输出的文件名 -->
            <fileNamePattern>${LOG_DIR}/web.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
            <!-- 日志文件保留天数 -->
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>

        <encoder>
            <!-- 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>
                %-20d{yyyy-MM-dd HH:mm:ss.SSS} --${PID:- }-- %-5level [%thread] %logger{80}[%L] -- %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="com.can" level="DEBUG"/>

    <!--根配置-->
    <root level="${rootLogLeave}">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>